/* features css */

.container{ 
    width: 1440px;
    height: 2368px;
    /* margin-left: 148px; */
  /* margin-right: 148px; */
}

.header h3{
    text-align: center;
    align-items: center;
    margin-top: 47px;
}


.left-box-one{

    /* background-color: aqua; */
    width: 360px;
    height: 535px;
    border: 1px solid #000000;
    box-shadow: 0 0 10px var(#000000);
    border-radius: 3%;
    margin-top: 147px;
    
}
.right-box-one{
    width: 360px;
    height: 535px;
    border: 1px solid #000000;
    box-shadow: 0 0 10px var(#000000);
    border-radius: 3%;
    /* margin-top: 147px; */
    margin-left: 830px;
    margin-right: 148px;
}
.left-box-three{
    width: 360px;
    height: 535px;
    border: 1px solid #000000;
    box-shadow: 0 0 10px var(#000000);
    border-radius: 3%;
    /* margin-top: 147px; */

}
.right-box-two{

    width: 360px;
    height: 535px;
    border: 1px solid #000000;
    box-shadow: 0 0 10px var(#000000);
    border-radius: 3%;
    /* margin-top: 147px; */
    margin-left: 830px;
    margin-right: 148px;
    margin-bottom: 82px;

}


/* contact page  */

.contact-section{
    margin-top: 82px;
    width: 1440px;
    height: 1240px;
}
.heading{
    /* width: 100%; */
    text-align: center;
    color: #100062;
    font-size: 40px;
    font-weight: bold;
    font-family: lato, sans-serif;
    align-items: center;
}
.img-logo  img{
    width: 70px;
    height: 175px;
    rotate: 90 turn;
}

.body-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    /* border: 1px solid #ddd; */
    /* border-radius: 8px; */
    /* max-width: 600px; */
    /* gap: 46px; */
    margin: 0 auto;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}
.left-side-content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 160px;
    margin-right: 71px;
}

.mb-3 {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    color: #100062;
    font-size: 20px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #FF2E00;
    border-radius: 4px;
    width: 443px;
    height: 63px;
    /* margin-right: 30px; */
}
.bttn{
    width: 197px;
    height: 48px;
  background-color: #FF2E00;
  margin-top: 147px;
    margin-left:  150px;
    /* margin-right: 914px; */
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-color: #FF2E00;

}
/* Right content styling */
.right-content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 30px;
    margin-right: 155px;
    margin-left: 87px;
}
.right-content h5{
    font-size: 30px;
    font-weight: bold;
    font-family: lato, sans-serif; 
    margin-bottom: 40px;
}

.right-content p{
 color: #100062;
 font-size: 20px;
 font-family: lato,sans-serif;
 margin-bottom: 50px;
}  